.front-container#front-container
    //inspiration: https://speedcurve.com/blog/user-timing-and-custom-metrics/
    %div
        .front-bg
            //The image onload mark reflects the render time when the image download takes longer than any blocking resources.
            %img.front-image{:src => "/resources/content_static/image/front_bg.jpg", 'my-click':"changeNumber()", :onload => "if('performance' in window && performance.mark && performance.getEntriesByName){ performance.mark('hero img onload');  BOOMR.addVar('t_heroimg_onload',window.performance.getEntriesByName('hero img onload')[0].startTime.toFixed(1));}"}
        :javascript
            //The inline script mark reflects the render time when the image downloads quickly
            //but blocking resources prevent it from being rendered.
            if("performance" in window && performance.mark && performance.measure){
                performance.mark("hero img loaded");
                performance.measure("PageLoadTime", "stylesheets done blocking", "hero img loaded");
                if(performance.getEntriesByName){
                    BOOMR.addVar("t_heroimg_loaded",window.performance.getEntriesByName("hero img loaded")[0].startTime.toFixed(1));
                }
            }
        .front-card
            .front-welcome
                .front-welcome-text.welcome
                    %h1 Welcome to Perfhub!
                    %p Get the latest Page and API Performance and track any performance related stuff here!
                    %br
                    %div{:style=>"font-size:25px;"}
                        Your Passcode Generated:
                        #message_div{:style=>"display: inline !important;color: #f75;"}
                            %image{:src=>"/resources/content_static/image/loading.gif",:style=>"width:60px;"}

            .front-signin
                %form.signin{:role => "form"}
                    .form-group
                        %label{:for => "emailaddr"}
                        %input.text-input.form-control#email{:type => "email", :placeholder => "Email"}
                    .form-group
                        %label{:for => "password"}
                        %input.text-input.form-control#passwd{:type => "password", :placeholder => "Password"}
                    .form-group
                        %label{:for => "passcode"}
                        %input.text-input.form-control#passwd{:type => "text", :placeholder => "Dynamic Passcode"}
                    .form-group
                        .checkbox
                            %input{:type => "checkbox", :value => "1", :checked => "checked"}
                            %span Remember me
                    %button.btn.btn-primary#signIn_btn{:type => "button"} Sign in

%script{:src => "/resources/content_static/js/model.js", :type => "text/javascript"}


:javascript
    $("#signIn_btn").click( function () {
        var uname = $("#email").val();
        var pwd = $("#passwd").val();
        $.ajax({
            url: '/login',
            type: 'POST',
            data: {username: uname, passwd: pwd},
            timeout: 10000,
            success: function(data, status, xhr) {
                if(data=="allowed"){
                    window.location.href = '/home'
                }
                else if (data == "refused"){
                    alert("wrong pwd!");
                }
                else {
                    alert("user not found!");
                }
            },
            error: function(xhr, status, err) {
                console.log(err);
            }
        });
    });

:javascript
    if("performance" in window && performance.mark)  performance.mark("login js loaded");
